.breadcrumblinkcolor {
    color:  #921C00  !important;
}

.breadcrumblinkcolor:hover {
    color: #ff784f !important;
    text-decoration: none !important;
}


/* .breadcrumbtypographycolor {
    color: #02827f !important;
} */
