.wrimagecard {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0;
    color: #02827f;
  }
  
  .wrimagecardcontent {
    padding-left: 3.5rem;
    margin-top: -0.3rem;
    font-weight: 500;
  }
  .wrimagecardheading {
    font-size: 2.5rem;
    padding: 1%;
  }
  .wrimagecardtitle {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #02827f;
  }
  .wrimagecardtextcolor {
    color: #ff3b00;
  }

  .iconcolor {
    height: 35px;
    width: 35px;
    margin-right: 1rem;

  }

  .address{
      padding: 1rem;
      color: #02827F;
      font-size: 1.5rem;
  }
  .leftPanelEdit{
      /* padding: 2.4rem; */
      color: #01345b;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      float: right;
      margin-top: -0.3rem;
      padding-right: 10px;
  }

  .formcontrolback {
    background: #ffff;
    border-color: #01345b;
    font-weight: 600;
    color: #01345b;
}

.formcontrolnext {
    color: #01345b;
    background: #ffff;
    border-color: #01345b;
    font-weight: 600;
    float: right;
}

.locationbtn{
    padding:0.8rem;
    background-color: #F8FBFE;
    border: #DDDDDD;
    border-radius: 0.3rem;
    box-shadow: #DDDDDD;
    color:black;
}
.navComp{
    background-color: white;
    border: none;
    font-size: 1.2rem;
    color: #02827F;
}
.navCompAdd{
    background-color: #EDF4EA;
    border: #EDF4EA;
    font-size: 1.2rem; 
    text-decoration: underline;
    border-radius: 0.8rem;
    color: #02827F;
}
/* .editCol{
  padding: 1.6rem;
} */
.formControlPlaceHolder{
  padding: 0rem;
}
.formcontrolbuttonright{
  margin-left: 20rem;
}
.btnCancel{
  background: #01345b;
    border-color: #01345b;
    font-weight: 600;
}
.btnSave{
  color: #01345b;
  background: #ffff;
  font-weight: 600;
}
.getAddPara,.editDiv{
  /* font-family: "Calibiri";
  font-size: 1.2rem;
  font-weight: 500; */
  margin-bottom: 1rem;
}
.controlheight{
  height: auto;
}

.mapheight{
  height: 12.5rem;
}

.rightimagecard{
  margin-top: -0.6rem;
}

.statecontrol{
  width: 100%;
  /* margin-top: 1.1rem; */
  color: #6c757d;
  border-color: #DDDDDD;
  padding: 0.6rem;
  padding-left: 0rem;
}

.countrycontrol{
  width: 100%;
  /* margin-top: 1.1rem; */
  color: #6c757d;
  border-color: #DDDDDD;
  padding: 0.6rem;
  padding-left: 0rem;
}
