html,
body {
    font-size: 14px !important;
    /* height: 100%; */
    height: 100vh;
}

.home-searchbox-wrapper {
    top: -34px !important;
    position: relative;
    z-index: 100;
    background: #fff;
    padding: 0 !important;
    box-shadow: 2px 7px 10px #949191;
}

.content {
    min-height: 100%;
}

.ribbon-color {
    background-color: #ffff;
    margin-bottom: -20px;
}

.search-ribbon-color {
    background-color: #01345b;
}

.react-datepicker-wrapper {
    display: inline !important;
}


/* .modal-content {
    width: 200% !important;
    margin-left: -260px !important;
} */

.pro-sidebar>.pro-sidebar-inner {
    background: #01345b !important;
}

.alert .glyphicon {
    float: left;
    margin-right: 9px;
}

.alert div {
    overflow: hidden;
}

.loading {
    height: 10% !important;
    width: 10% !important;
    fill: #000 !important;
    margin-top: 10%;
}

.collapseshow {
    height: 100%;
    overflow: hidden;
}

.collapsehide {
    height: 120px;
    overflow: hidden;
}

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.wrimagecard .fa {
    position: relative;
    font-size: 2.25rem;
}

.wrimagecard-topimage_header {
    padding: 20px;
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 6.75rem;
    position: relative;
    cursor: pointer;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.form-control-border {
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    /* height: auto !important; */
    /* height: auto !important;
	margin-top: 1rem; */
}

.disabled-color {
    background-color: #fff !important;
}


/* BreadCrum */

.search-label {
    display: inline !important;
}

.bootstrap-table-border {
    border: 4px solid #0134;
    margin-bottom: 2%;
    /* margin-top: -4%; */
    /* border-radius: 4%; */
}


/* through stroke styling we are achieviewing this*/

.faborder {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: inherit;
}

.fared {
    color: red;
}

.facustom {
    cursor: pointer;
}

.expand-cell-header {
    width: 20% !important;
}

.progress {
    height: 15px !important;
}

.PhoneInputInput {
    display: block;
    width: 100%;
    height: -webkit-calc(1.5em + 0.75rem + 2px);
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.ui.button {
    /* background: #ff784f !important; */
}

.dropdown-item.active,
.dropdown-item:active {
    color: #16181b !important;
    text-decoration: none;
    background-color: #007bff;
}

.ui.button {
    padding: 1% !important;
}

.careercardslider {
    padding-bottom: 3%;
}

.footer-fix-height {
    min-height: calc(75vh);
}

.nav-link {
    padding-left: 0rem !important;
}

a:hover {
    color: #ff784f !important;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  .media-padding{
      padding-left: 2%;
  }